@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jhpx3v');
	src:url('fonts/icomoon.eot?#iefix-jhpx3v') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jhpx3v') format('woff'),
		url('fonts/icomoon.ttf?-jhpx3v') format('truetype'),
		url('fonts/icomoon.svg?-jhpx3v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e600";
}
.icon-info:before {
	content: "\e601";
}
.icon-share:before {
	content: "\e602";
}
