/*Colors*/
/* Buttons for Park Landing page */
/* line 3, ../../sass/_buttons.scss */
.btn-orange {
  /*color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  */
  text-transform: uppercase;
  margin-top: 12px;
  border: 1px solid #d75124;
  background: #e35121;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6633), to(#e35121));
  background: -webkit-linear-gradient(top, #ff6633, #e35121);
  background: -moz-linear-gradient(top, #ff6633, #e35121);
  background: -ms-linear-gradient(top, #ff6633, #e35121);
  background: -o-linear-gradient(top, #ff6633, #e35121);
  padding: 7.5px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  color: #ffffff;
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  font-family: "Open Sans";
  font-weight: 700;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

/* line 37, ../../sass/_buttons.scss */
.btn-orange:hover {
  /*color:#be3507;*/
  color: #ffffff;
  /*text-shadow: rgba(255,255,255,.4) 0 1px 0;*/
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  background: #ff6633;
  background: -webkit-gradient(linear, left top, left bottom, from(#e35121), to(#ff6633));
  background: -webkit-linear-gradient(top, #e35121, #ff6633);
  background: -moz-linear-gradient(top, #e35121, #ff6633);
  background: -ms-linear-gradient(top, #e35121, #ff6633);
  background: -o-linear-gradient(top, #e35121, #ff6633);
}

/* line 1, ../../sass/_icons.scss */
span.parkTab {
  width: 75px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

/* line 9, ../../sass/_images.scss */
.mountain-biking {
  background: url("/images/park/mountain-biking.jpg") center center;
  display: block;
  width: 291px;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 13, ../../sass/_images.scss */
.zipline {
  background: url("/images/park/zipline.jpg") center center;
  display: block;
  width: 291px;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 17, ../../sass/_images.scss */
.rafting {
  background: url("/images/park/rafting.jpg") center center;
  display: block;
  width: 291px;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 21, ../../sass/_images.scss */
.hiking {
  background: url("/images/park/hiking.jpg") center center;
  display: block;
  width: 291px;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 25, ../../sass/_images.scss */
.night-tour {
  background: url("/images/park/night-tour.jpg") center bottom;
  display: block;
  width: 291px;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 29, ../../sass/_images.scss */
.rock-climbing {
  background: url("/images/park/rock-climbing.jpg") left top;
  display: block;
  width: 291px;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/*Park Landing Page*/
/* line 3, ../../sass/_park-landing.scss */
.el-center {
  display: block;
  margin: 0 auto;
}

/* line 8, ../../sass/_park-landing.scss */
h1.interiorTitle {
  height: 40px;
  width: auto;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  line-height: 1.85em;
  position: absolute;
  top: 200px;
  left: 50px;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px #000000;
  z-index: 10;
}

/* line 29, ../../sass/_park-landing.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 300;
}

/* line 33, ../../sass/_park-landing.scss */
h3 {
  font-size: 24px;
}

/* line 52, ../../sass/_park-landing.scss */
div.tab-content-2-3 {
  float: left;
  height: 324px;
  width: 65%;
  margin-left: 3%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 60, ../../sass/_park-landing.scss */
div.tab-content-1-3 {
  height: 324px;
  width: 25%;
  float: right;
  margin-right: 3%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 68, ../../sass/_park-landing.scss */
div.tab-content-3-3 {
  height: 100%;
  width: 90%;
  float: left;
  margin-left: 4%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Span */
/* line 78, ../../sass/_park-landing.scss */
span.blk {
  display: block;
}

/* line 82, ../../sass/_park-landing.scss */
span.parkTab {
  width: 75px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

/* Links */
/* line 91, ../../sass/_park-landing.scss */
a.rd-more {
  font-size: 0.875em;
  color: #ff6633;
  text-decoration: none;
}

/* line 96, ../../sass/_park-landing.scss */
a.rd-more:hover {
  text-decoration: underline;
}

/* Misc Div styles */
/* line 102, ../../sass/_park-landing.scss */
.rt-vrtDiv {
  border-right: 1px solid #d7d7d7;
}

/* line 106, ../../sass/_park-landing.scss */
.contMrgBtm {
  margin-bottom: 80px;
}

/* Images */
/* line 112, ../../sass/_park-landing.scss */
.parkPnlThumb {
  width: 256px;
  height: 120px;
  border: 1px solid #d7d7d7;
  background: url("/images/fall-highlights.jpg") no-repeat center center;
  background-size: cover;
}

/* Left Tabs */
/* line 122, ../../sass/_park-landing.scss */
.park-tab-content {
  width: 113%;
  min-height: 600px;
  margin-left: 4%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 129, ../../sass/_park-landing.scss */
ul.parkUlNav {
  width: 150px;
  height: auto;
}

/* line 134, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

/* line 138, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li {
  float: none;
}

/* line 142, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li > a {
  min-width: 100px;
  height: 70px;
  margin-right: 0;
  margin-bottom: 3px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background: #f7f7f7;
}

/* line 153, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
}

/* line 158, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
}

/* line 163, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-left: 8px solid #ff6633;
}

/* line 169, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  background: #ffffff;
  border-color: #ddd transparent #ddd #ddd;
  border-left: 8px solid #ff6633;
  *border-right-color: #ffffff;
}

/* Tab One Content */
/* line 178, ../../sass/_park-landing.scss */
div.checklist {
  min-height: 110px;
}

/* line 182, ../../sass/_park-landing.scss */
.trip-activity {
  margin: 5% 0;
  position: relative;
  height: 330px;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0;
}
/* line 188, ../../sass/_park-landing.scss */
.trip-activity div.trip-thumb {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 192, ../../sass/_park-landing.scss */
.trip-activity div.trip-thumb a {
  float: right;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
}
/* line 197, ../../sass/_park-landing.scss */
.trip-activity h4 {
  padding: 10px 0;
  font-weight: bold;
}
/* line 201, ../../sass/_park-landing.scss */
.trip-activity p {
  padding: 10px 0;
}

/* Wrapper Fix */
/* line 208, ../../sass/_park-landing.scss */
.cstyle03-park {
  background: #fff;
  height: 100%;
  margin-top: 600px;
  position: relative;
  z-index: 100;
  display: block;
}

/* Footer Fix */
/* line 219, ../../sass/_park-landing.scss */
.sfix3-park {
  position: absolute;
}

@media (min-width: 992px) {
  /* line 221, ../../sass/_park-landing.scss */
  .sfix3-park {
    position: absolute;
  }
}
/* Wrapper Fix */
/* line 3, ../../sass/_campground-availability.scss */
.cstyle03-campground {
  background: #fff;
  height: 100%;
  margin-top: 280px;
  position: relative;
  z-index: 100;
  display: block;
}
