/*Colors*/
/* Buttons for Park Landing page */
/* line 3, ../../sass/_buttons.scss */
.btn-orange {
  /*color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  */
  text-transform: uppercase;
  margin-top: 12px;
  border: 1px solid #d75124;
  background: #e35121;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6633), to(#e35121));
  background: -webkit-linear-gradient(top, #ff6633, #e35121);
  background: -moz-linear-gradient(top, #ff6633, #e35121);
  background: -ms-linear-gradient(top, #ff6633, #e35121);
  background: -o-linear-gradient(top, #ff6633, #e35121);
  padding: 7.5px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  color: #ffffff;
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  font-family: "Open Sans";
  font-weight: 700;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

/* line 37, ../../sass/_buttons.scss */
.btn-orange:hover {
  /*color:#be3507;*/
  color: #ffffff;
  /*text-shadow: rgba(255,255,255,.4) 0 1px 0;*/
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  background: #ff6633;
  background: -webkit-gradient(linear, left top, left bottom, from(#e35121), to(#ff6633));
  background: -webkit-linear-gradient(top, #e35121, #ff6633);
  background: -moz-linear-gradient(top, #e35121, #ff6633);
  background: -ms-linear-gradient(top, #e35121, #ff6633);
  background: -o-linear-gradient(top, #e35121, #ff6633);
}

/* line 51, ../../sass/_buttons.scss */
.permitBtnWrap {
  width: 50%;
  margin: 5% 0 10% 50%;
  padding: 0;
}

/* line 57, ../../sass/_buttons.scss */
.btnTitle {
  height: auto;
  padding: 10px 20px;
  margin: 0;
  position: relative;
  font-family: Lato;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

/* line 69, ../../sass/_buttons.scss */
.btnW25 {
  width: 25%;
}

/* line 71, ../../sass/_buttons.scss */
.btnW50 {
  width: 50%;
}

/* line 73, ../../sass/_buttons.scss */
.btnW75 {
  width: 75%;
}

/* line 75, ../../sass/_buttons.scss */
.btnW100 {
  width: 100%;
}

/* line 80, ../../sass/_buttons.scss */
.btn-booking {
  width: 50%;
}

/* line 2, ../../sass/_icons.scss */
span.parkTab {
  width: 75px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-jhpx3v");
  src: url("../fonts/icomoon.eot?#iefix-jhpx3v") format("embedded-opentype"), url("../fonts/icomoon.woff?-jhpx3v") format("woff"), url("../fonts/icomoon.ttf?-jhpx3v") format("truetype"), url("../fonts/icomoon.svg?-jhpx3v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../../sass/_icons.scss */
[data-icon] {
  margin: 0 auto;
  height: 30px;
  width: 30px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.25em;
  text-align: center;
  transition: 0.35s ease-in-out;
  color: #d7d7d7;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 42, ../../sass/_icons.scss */
[data-icon]:hover {
  text-decoration: none;
}

/* line 46, ../../sass/_icons.scss */
a.icons {
  text-decoration: none;
}
/* line 48, ../../sass/_icons.scss */
a.icons .icon-heart {
  content: "\e600";
  padding: 8px 4px;
}
/* line 52, ../../sass/_icons.scss */
a.icons .icon-info {
  content: "\e601";
  padding: 4px 8px;
}
/* line 56, ../../sass/_icons.scss */
a.icons .icon-share {
  content: "\e602";
}

/* line 60, ../../sass/_icons.scss */
a.icons:hover {
  text-decoration: none;
}
/* line 62, ../../sass/_icons.scss */
a.icons:hover .icon-heart:hover {
  color: red;
  transition: 0.35s ease-in-out;
}
/* line 66, ../../sass/_icons.scss */
a.icons:hover .icon-info:hover {
  color: #172d3b;
  transition: 0.35s ease-in-out;
}
/* line 70, ../../sass/_icons.scss */
a.icons:hover .icon-share:hover {
  color: #bada9c;
  transition: 0.35s ease-in-out;
}

/*Park Landing Page*/
/* line 11, ../../sass/_images.scss */
.mountain-biking {
  background: url("/images/park/mountain-biking.jpg") center center;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 15, ../../sass/_images.scss */
.zipline {
  background: url("/images/park/zipline.jpg") center center;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 19, ../../sass/_images.scss */
.rafting {
  background: url("/images/park/rafting.jpg") center center;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 23, ../../sass/_images.scss */
.hiking {
  background: url("/images/park/hiking.jpg") center center;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 27, ../../sass/_images.scss */
.night-tour {
  background: url("/images/park/night-tour.jpg") center bottom;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 31, ../../sass/_images.scss */
.rock-climbing {
  background: url("/images/park/rock-climbing.jpg") left top;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/*Booking Page*/
/* line 38, ../../sass/_images.scss */
.acrylic {
  background: url("/images/booking/acrylic.jpg") left top;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/* line 43, ../../sass/_images.scss */
.halfDome {
  background: url("/images/booking/half-dome.jpg") center center;
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  backround-size: cover;
}

/*Padding Top*/
/* line 3, ../../sass/_pad.scss */
.pT0 {
  padding-top: 0;
}

/* line 6, ../../sass/_pad.scss */
.pT1 {
  padding-top: 1%;
}

/* line 9, ../../sass/_pad.scss */
.pT2 {
  padding-top: 2%;
}

/* line 12, ../../sass/_pad.scss */
.pT3 {
  padding-top: 3%;
}

/* line 15, ../../sass/_pad.scss */
.pT5 {
  padding-top: 5%;
}

/* line 18, ../../sass/_pad.scss */
.pT10 {
  padding-top: 10%;
}

/* line 21, ../../sass/_pad.scss */
.pT15 {
  padding-top: 15%;
}

/* line 24, ../../sass/_pad.scss */
.pT20 {
  padding-top: 20%;
}

/* line 27, ../../sass/_pad.scss */
.pT30 {
  padding-top: 30%;
}

/* line 30, ../../sass/_pad.scss */
.pT40 {
  padding-top: 40%;
}

/* line 33, ../../sass/_pad.scss */
.pT50 {
  padding-top: 50%;
}

/* line 36, ../../sass/_pad.scss */
.pT60 {
  padding-top: 60%;
}

/* line 39, ../../sass/_pad.scss */
.pT70 {
  padding-top: 70%;
}

/* line 42, ../../sass/_pad.scss */
.pT80 {
  padding-top: 80%;
}

/* line 45, ../../sass/_pad.scss */
.pT90 {
  padding-top: 90%;
}

/*Padding Bottom*/
/* line 52, ../../sass/_pad.scss */
.pB0 {
  padding-bottom: 0;
}

/* line 55, ../../sass/_pad.scss */
.pB1 {
  padding-bottom: 1%;
}

/* line 58, ../../sass/_pad.scss */
.pB2 {
  padding-bottom: 2%;
}

/* line 61, ../../sass/_pad.scss */
.pB3 {
  padding-bottom: 3%;
}

/* line 64, ../../sass/_pad.scss */
.pB5 {
  padding-bottom: 5%;
}

/* line 67, ../../sass/_pad.scss */
.pB10 {
  padding-bottom: 10%;
}

/* line 70, ../../sass/_pad.scss */
.pB15 {
  padding-bottom: 15%;
}

/* line 73, ../../sass/_pad.scss */
.pB20 {
  padding-bottom: 20%;
}

/* line 76, ../../sass/_pad.scss */
.pB30 {
  padding-bottom: 30%;
}

/* line 79, ../../sass/_pad.scss */
.pB40 {
  padding-bottom: 40%;
}

/* line 82, ../../sass/_pad.scss */
.pB50 {
  padding-bottom: 50%;
}

/* line 85, ../../sass/_pad.scss */
.pB60 {
  padding-bottom: 60%;
}

/* line 88, ../../sass/_pad.scss */
.pB70 {
  padding-bottom: 70%;
}

/* line 91, ../../sass/_pad.scss */
.pB80 {
  padding-bottom: 80%;
}

/* line 94, ../../sass/_pad.scss */
.pB90 {
  padding-bottom: 90%;
}

/*margin Top*/
/* line 100, ../../sass/_pad.scss */
.mT0 {
  margin-top: 0;
}

/* line 103, ../../sass/_pad.scss */
.mT1 {
  margin-top: 1%;
}

/* line 106, ../../sass/_pad.scss */
.mT2 {
  margin-top: 2%;
}

/* line 109, ../../sass/_pad.scss */
.mT3 {
  margin-top: 3%;
}

/* line 112, ../../sass/_pad.scss */
.mT5 {
  margin-top: 5%;
}

/* line 115, ../../sass/_pad.scss */
.mT10 {
  margin-top: 10%;
}

/* line 118, ../../sass/_pad.scss */
.mT15 {
  margin-top: 15%;
}

/* line 121, ../../sass/_pad.scss */
.mT20 {
  margin-top: 20%;
}

/* line 124, ../../sass/_pad.scss */
.mT30 {
  margin-top: 30%;
}

/* line 127, ../../sass/_pad.scss */
.mT40 {
  margin-top: 40%;
}

/* line 130, ../../sass/_pad.scss */
.mT50 {
  margin-top: 50%;
}

/* line 133, ../../sass/_pad.scss */
.mT60 {
  margin-top: 60%;
}

/* line 136, ../../sass/_pad.scss */
.mT70 {
  margin-top: 70%;
}

/* line 139, ../../sass/_pad.scss */
.mT80 {
  margin-top: 80%;
}

/* line 142, ../../sass/_pad.scss */
.mT90 {
  margin-top: 90%;
}

/*margin Bottom*/
/* line 149, ../../sass/_pad.scss */
.mB0 {
  margin-bottom: 0;
}

/* line 152, ../../sass/_pad.scss */
.mB1 {
  margin-bottom: 1%;
}

/* line 155, ../../sass/_pad.scss */
.mB2 {
  margin-bottom: 2%;
}

/* line 158, ../../sass/_pad.scss */
.mB3 {
  margin-bottom: 3%;
}

/* line 161, ../../sass/_pad.scss */
.mB5 {
  margin-bottom: 5%;
}

/* line 164, ../../sass/_pad.scss */
.mB10 {
  margin-bottom: 10%;
}

/* line 167, ../../sass/_pad.scss */
.mB15 {
  margin-bottom: 15%;
}

/* line 170, ../../sass/_pad.scss */
.mB20 {
  margin-bottom: 20%;
}

/* line 173, ../../sass/_pad.scss */
.mB30 {
  margin-bottom: 30%;
}

/* line 176, ../../sass/_pad.scss */
.mB40 {
  margin-bottom: 40%;
}

/* line 179, ../../sass/_pad.scss */
.mB50 {
  margin-bottom: 50%;
}

/* line 182, ../../sass/_pad.scss */
.mB60 {
  margin-bottom: 60%;
}

/* line 185, ../../sass/_pad.scss */
.mB70 {
  margin-bottom: 70%;
}

/* line 188, ../../sass/_pad.scss */
.mB80 {
  margin-bottom: 80%;
}

/* line 191, ../../sass/_pad.scss */
.mB90 {
  margin-bottom: 90%;
}

/*Park Landing Page*/
/* line 3, ../../sass/_park-landing.scss */
.el-center {
  display: block;
  margin: 0 auto;
}

/* line 8, ../../sass/_park-landing.scss */
h1.interiorTitle {
  height: 40px;
  width: auto;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  line-height: 1.85em;
  position: absolute;
  top: 250px;
  left: 50px;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px #000000;
  z-index: 10;
}

/* line 29, ../../sass/_park-landing.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 300;
}

/* line 33, ../../sass/_park-landing.scss */
h3 {
  font-size: 24px;
}

/* line 50, ../../sass/_park-landing.scss */
div.tab-content-2-3 {
  float: left;
  height: 324px;
  width: 65%;
  margin-left: 3%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 58, ../../sass/_park-landing.scss */
div.tab-content-1-3 {
  height: 324px;
  width: 25%;
  float: right;
  margin-right: 3%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 66, ../../sass/_park-landing.scss */
div.tab-content-3-3 {
  height: 100%;
  width: 90%;
  float: left;
  margin-left: 4%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Span */
/* line 76, ../../sass/_park-landing.scss */
span.blk {
  display: block;
}

/* line 80, ../../sass/_park-landing.scss */
span.parkTab {
  width: 75px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

/* Links */
/* line 89, ../../sass/_park-landing.scss */
a.rd-more {
  font-size: 0.875em;
  color: #ff6633;
  text-decoration: none;
}

/* line 94, ../../sass/_park-landing.scss */
a.rd-more:hover {
  text-decoration: underline;
}

/* Misc Div styles */
/* line 100, ../../sass/_park-landing.scss */
.rt-vrtDiv {
  border-right: 1px solid #d7d7d7;
}

/* line 104, ../../sass/_park-landing.scss */
.contMrgBtm {
  margin-bottom: 80px;
}

/* Images */
/* line 110, ../../sass/_park-landing.scss */
.parkPnlThumb {
  width: 256px;
  height: 120px;
  border: 1px solid #d7d7d7;
  background: url("/images/fall-highlights.jpg") no-repeat center center;
  background-size: cover;
}

/* Left Tabs */
/* line 120, ../../sass/_park-landing.scss */
.park-tab-content {
  width: 113%;
  min-height: 600px;
  margin-left: 4%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 127, ../../sass/_park-landing.scss */
ul.parkUlNav {
  width: 150px;
  height: auto;
}

/* line 132, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

/* line 136, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li {
  float: none;
}

/* line 140, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li > a {
  min-width: 100px;
  height: 70px;
  margin-right: 0;
  margin-bottom: 3px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background: #f7f7f7;
}

/* line 151, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
}

/* line 156, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
}

/* line 161, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-left: 8px solid #ff6633;
}

/* line 167, ../../sass/_park-landing.scss */
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  background: #ffffff;
  border-color: #ddd transparent #ddd #ddd;
  border-left: 8px solid #ff6633;
  *border-right-color: #ffffff;
}

/* Tab One Content */
/* line 176, ../../sass/_park-landing.scss */
div.checklist {
  min-height: 110px;
}

/* line 180, ../../sass/_park-landing.scss */
.trip-activity {
  margin: 5% 0;
  position: relative;
  height: 330px;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0;
}
/* line 186, ../../sass/_park-landing.scss */
.trip-activity div.trip-thumb {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 190, ../../sass/_park-landing.scss */
.trip-activity div.trip-thumb a {
  width: 30px;
  height: 30px;
  float: right;
  width: 30px;
  height: 30px;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
}
/* line 197, ../../sass/_park-landing.scss */
.trip-activity h4 {
  padding: 10px 0;
  font-weight: bold;
}
/* line 201, ../../sass/_park-landing.scss */
.trip-activity p.trip {
  text-align: center;
  width: 100%;
  padding: 10px;
}

/* Wrapper Fix */
/* line 210, ../../sass/_park-landing.scss */
.cstyle03-park {
  background: #fff;
  height: 100%;
  margin-top: 600px;
  position: relative;
  z-index: 100;
  display: block;
}

/* Footer Fix */
/* line 222, ../../sass/_park-landing.scss */
.sfix3-park {
  position: absolute;
}

@media (min-width: 992px) {
  /* line 224, ../../sass/_park-landing.scss */
  .sfix3-park {
    position: absolute;
  }
}
/* Wrapper Fix */
/* line 3, ../../sass/_campground-availability.scss */
.cstyle03-campground {
  background: #fff;
  height: 100%;
  margin-top: 280px;
  position: relative;
  z-index: 100;
  display: block;
}

/* line 1, ../../sass/_booking.scss */
.cstyle03-booking {
  background: #bada9c;
  height: 100%;
  margin-top: 179px;
  position: relative;
  z-index: 100;
  display: block;
}

/* line 10, ../../sass/_booking.scss */
.line4-booking {
  background: #e8e8e8;
  height: 1px;
  display: block;
}

/* line 16, ../../sass/_booking.scss */
.permitText {
  width: 50%;
  display: inline-block;
}

/* line 21, ../../sass/_booking.scss */
.permitImg {
  vertical-align: top;
}

/* line 25, ../../sass/_booking.scss */
thead[attr="priceRow"] {
  height: 80px;
}

/* line 29, ../../sass/_booking.scss */
tr[attr="costRow"] {
  height: 60px;
}

/* line 33, ../../sass/_booking.scss */
td[attr="totalTitle"] {
  width: 120px;
}

/* line 37, ../../sass/_booking.scss */
td[attr="totalPrice"] {
  width: 80px;
}

/* line 40, ../../sass/_booking.scss */
td[attr="totalAmount"] {
  width: 120px;
}

/* line 43, ../../sass/_booking.scss */
td[attr="totalCost"] {
  width: 80px;
}

/* line 49, ../../sass/_booking.scss */
td[attr="button"] {
  width: 120px;
  height: 80px;
  margin-top: 20px;
}
